.center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

#clock-container {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: white;
}

#bg {
    background-image: url('https://www.dropbox.com/scl/fi/2lvsuy7v4w0sd0n9xkkhz/0320-1.gif?rlkey=z179botd8gqx6h2vdfajj6rao&dl=1');
    background-size: cover;
    filter: brightness(50%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

a:active {
    color: lightgray;
    text-decoration: underline;
}
